In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("df_watches.csv")

In [8]:
df.isna().sum()

Unnamed: 0              0
Additional Info     10075
Band Color           7921
Band Length          6847
Band Material        3994
Band Type            5011
Band Width           2948
Bezel Color          5826
Bezel Material       2238
Bezel                4166
Brand                   0
Calendar             4458
Case Back            1914
Case Diameter          18
Case Material           8
Case Shape             67
Case Thickness       2579
Clasp                1711
Crown                2381
Crystal               214
Dial Color             32
Dial Markers         7877
Dial Type              21
Engine               4731
Features              456
Functions              19
Gender                  0
Hands                1129
Luminiscence         5879
Model                   0
Movement                0
Power Reserve        7414
SKU                     0
Second Markers       8784
Series               2780
Style                   0
Sub Dials            7043
UPC Code             2807
Warranty              161
Watch Label          2862
Watch Style             0
Water Resistance      299
price                   0
Case Color          10649
dtype: int64

In [18]:
cols = df.columns.to_list()

In [14]:
df.head()

,Unnamed: 0,Additional Info,Band Color,Band Length,Band Material,Band Type,Band Width,Bezel Color,Bezel Material,Bezel,...,Series,Style,Sub Dials,UPC Code,Warranty,Watch Label,Watch Style,Water Resistance,price,Case Color
0,0,"Original box, international warranty card, man...",NaN,NaN,NaN,NaN,NaN,NaN,Platinum,NaN,...,Grand Complications,Watches,"60 Minute, 60 Second, Date, Moonphase",NaN,2 Year WatchCenter Warranty,Swiss Made,Luxury Watches,30 meters / 100 feet,"\n $547,771.00 ...",NaN
1,1,"Original box, international warranty card, man...",NaN,NaN,NaN,NaN,NaN,NaN,Diamond Set,NaN,...,Nautilus,Watches,NaN,NaN,2 Year WatchCenter Warranty,Swiss Made,Luxury Watches,NaN,"\n $453,600.00 ...",NaN
2,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Titanium,NaN,...,NaN,Watches,NaN,NaN,2 Year WatchCenter Warranty,Swiss Made,Luxury Watches,100 meters / 330 feet,"\n $316,799.98 ...",NaN
3,3,NaN,NaN,NaN,Crocodile Leather,Strap,16 mm,NaN,Platinum,Fixed,...,Complications,Watches,Two - 60 Second and 60 Minute,NaN,2 Year WatchCenter Warranty,Swiss Made,Luxury Watches,30 meters / 100 feet,"\n $350,000.00 ...",NaN
4,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Ceramic,NaN,...,Royal Oak Offshore,Watches,"Three - 60 Second, 30 Minute and Tourbillon",NaN,2 Year WatchCenter Warranty,Swiss Made,Luxury Watches,100 meters / 330 feet,"\n $280,813.98 ...",NaN

In [12]:
pd.read_csv("watches_category.csv")

,SKU,Case_Diameter,Watch_Style,Water_Resistance,price,function_Chronograph,function_Chronometer,function_GMT,function_Second_Time_Zone,function_Tachymeter,...,Gender_Mens,Movement_Quartz,Movement_Automatic,Watch_Style_Dress_Watches,Watch_Style_Luxury_Watches,Watch_Style_Casual_Watches,Watch_Style_Sport_Watches,Watch_Style_Fashion_Watches,Watch_Style_Dive_Watches,Watch_Style_Military_Watches
0,AP26587TIOOD031CA01,44,Luxury Watches,100.0,316799.98,0,0,0,0,0,...,1,0,1,0,1,0,0,0,0,0
1,PK-6102P-001,44,Luxury Watches,30.0,311850.00,0,0,0,0,0,...,1,0,1,0,1,0,0,0,0,0
2,AP26388POOOD027CA01,44,Luxury Watches,100.0,332800.00,1,0,0,0,0,...,1,0,1,0,1,0,0,0,0,0
3,RM-RM1101,50,Luxury Watches,50.0,189445.98,1,0,0,1,0,...,1,0,1,0,1,0,0,0,0,0
4,RM-RM1102TI,42,Luxury Watches,50.0,185080.98,1,0,0,1,0,...,1,0,1,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9271,FSFS5061IE,43,Dress Watches,50.0,145.00,1,0,0,0,0,...,1,1,0,1,0,0,0,0,0,0
9272,GUYLRL2008-05,32,Dress Watches,50.0,200.00,0,0,0,0,0,...,0,1,0,1,0,0,0,0,0,0
9273,IN27443,35,Dress Watches,100.0,595.00,0,0,0,0,0,...,0,1,0,1,0,0,0,0,0,0
9274,OLBOB16PP30,38,Dress Watches,10.0,140.00,0,0,0,0,0,...,0,1,0,1,0,0,0,0,0,0
9275,SNH7215248AIRBM,26,Dress Watches,30.0,410.00,0,0,0,0,0,...,0,1,0,1,0,0,0,0,0,0

# Clean Columns

In [19]:
df[cols[:5]]

,Unnamed: 0,Additional Info,Band Color,Band Length,Band Material
0,0,"Original box, international warranty card, man...",NaN,NaN,NaN
1,1,"Original box, international warranty card, man...",NaN,NaN,NaN
2,2,NaN,NaN,NaN,NaN
3,3,NaN,NaN,NaN,Crocodile Leather
4,4,NaN,NaN,NaN,NaN
...,...,...,...,...,...
10647,10647,NaN,NaN,8 inches,Leather
10648,10648,NaN,NaN,NaN,Stainless Steel
10649,10649,NaN,NaN,7.25 inches,Stainless Steel
10650,10650,NaN,NaN,NaN,Leather
10651,10651,NaN,NaN,NaN,Leather

In [20]:
drop_cols = []

In [21]:
drop_cols.append('Unnamed: 0')

In [22]:
df.isna().sum()

Unnamed: 0              0
Additional Info     10075
Band Color           7921
Band Length          6847
Band Material        3994
Band Type            5011
Band Width           2948
Bezel Color          5826
Bezel Material       2238
Bezel                4166
Brand                   0
Calendar             4458
Case Back            1914
Case Diameter          18
Case Material           8
Case Shape             67
Case Thickness       2579
Clasp                1711
Crown                2381
Crystal               214
Dial Color             32
Dial Markers         7877
Dial Type              21
Engine               4731
Features              456
Functions              19
Gender                  0
Hands                1129
Luminiscence         5879
Model                   0
Movement                0
Power Reserve        7414
SKU                     0
Second Markers       8784
Series               2780
Style                   0
Sub Dials            7043
UPC Code             2807
Warranty              161
Watch Label          2862
Watch Style             0
Water Resistance      299
price                   0
Case Color          10649
dtype: int64

In [23]:
df.shape

(10652, 44)

## Drop Columns with more than 75% Missing

In [40]:
.50 * 10652

5326.0

In [27]:
# turn into dictionary
col_totals = df.isna().sum().to_dict()

In [42]:
# if va
for i in col_totals:
    if col_totals[i] >= 5326:
        drop_cols.append(i)

In [43]:
drop_cols

['Unnamed: 0',
 'Additional Info',
 'Band Color',
 'Band Length',
 'Bezel Color',
 'Dial Markers',
 'Luminiscence',
 'Power Reserve',
 'Second Markers',
 'Sub Dials',
 'Case Color']

In [38]:
col_totals['Additional Info']

10075