In [1]:
import pandas as pd

In [2]:
import copy
from copy import deepcopy

In [3]:
df = pd.read_csv("df_watches.csv")

In [4]:
cols = df.columns.to_list()

# Clean Columns

In [6]:
drop_cols = []

In [7]:
drop_cols.append('Unnamed: 0')

## Drop Columns with more than 75% Missing

In [8]:
df.shape

(10652, 44)

In [9]:
# calculate 50%
.50 * 10652

5326.0

In [11]:
# turn na values into dictionary
col_totals = df.isna().sum().to_dict()

In [13]:
# if va
for i in col_totals:
    if col_totals[i] >= 5326:
        drop_cols.append(i)

In [19]:
drop_cols

['Unnamed: 0',
 'Additional Info',
 'Band Color',
 'Band Length',
 'Bezel Color',
 'Dial Markers',
 'Luminiscence',
 'Power Reserve',
 'Second Markers',
 'Sub Dials',
 'Case Color']

In [20]:
cols = df.columns.to_list()

In [28]:
for i in cols:
    if i in drop_cols:
        cols.remove(i)

In [29]:
cols

['Band Material',
 'Band Type',
 'Band Width',
 'Bezel Material',
 'Bezel',
 'Brand',
 'Calendar',
 'Case Back',
 'Case Diameter',
 'Case Material',
 'Case Shape',
 'Case Thickness',
 'Clasp',
 'Crown',
 'Crystal',
 'Dial Color',
 'Dial Type',
 'Engine',
 'Features',
 'Functions',
 'Gender',
 'Hands',
 'Model',
 'Movement',
 'SKU',
 'Series',
 'Style',
 'UPC Code',
 'Warranty',
 'Watch Label',
 'Watch Style',
 'Water Resistance',
 'price']

In [31]:
df = deepcopy(df[cols])

In [37]:
cols = df.columns.to_list()

# Delete Top 20% of rows that have missing columns

In [42]:
df.isna().sum()

Band Material       3994
Band Type           5011
Band Width          2948
Bezel Material      2238
Bezel               4166
Brand                  0
Calendar            4458
Case Back           1914
Case Diameter         18
Case Material          8
Case Shape            67
Case Thickness      2579
Clasp               1711
Crown               2381
Crystal              214
Dial Color            32
Dial Type             21
Engine              4731
Features             456
Functions             19
Gender                 0
Hands               1129
Model                  0
Movement               0
SKU                    0
Series              2780
Style                  0
UPC Code            2807
Warranty             161
Watch Label         2862
Watch Style            0
Water Resistance     299
price                  0
dtype: int64

In [44]:
len(df.columns)

33

In [57]:
df.shape

(10652, 33)

In [52]:
df.dropna(thresh = 20).shape

(10545, 33)

In [55]:
#find where the threshhold is that keeps 80% of watches
for i in range(20,33):
    print(i)
    print(df.dropna(thresh = i).shape, "\n")

20
(10545, 33)

21
(10514, 33)

22
(10058, 33)

23
(9625, 33)

24
(9398, 33)

25
(9072, 33)

26
(8682, 33)

27
(8114, 33)

28
(7329, 33)

29
(6404, 33)

30
(5194, 33)

31
(3845, 33)

32
(2430, 33)

In [59]:
df.dropna(thresh = 26, inplace=True)

In [62]:
df.isna().sum()

Band Material       2119
Band Type           3091
Band Width          2037
Bezel Material       746
Bezel               2273
Brand                  0
Calendar            2881
Case Back            720
Case Diameter          1
Case Material          3
Case Shape            35
Case Thickness      1824
Clasp                520
Crown               1714
Crystal               42
Dial Color            11
Dial Type              5
Engine              3167
Features              24
Functions              2
Gender                 0
Hands                215
Model                  0
Movement               0
SKU                    0
Series              1423
Style                  0
UPC Code            1890
Warranty              96
Watch Label         1576
Watch Style            0
Water Resistance      55
price                  0
dtype: int64

In [39]:
df[cols[0]]

0                      NaN
1                      NaN
2                      NaN
3        Crocodile Leather
4                      NaN
               ...
10647              Leather
10648      Stainless Steel
10649      Stainless Steel
10650              Leather
10651              Leather
Name: Band Material, Length: 10652, dtype: object