# Import Data and Modules

In [1]:
import pandas as pd

In [77]:
import pickle

In [124]:
from copy import deepcopy

In [2]:
ls

README.txt                        watch_output_fashion.csv
Watches4.ipynb                    watch_output_luxury2.csv
battle_wins.ipynb                 watch_output_military.csv
df3_dummied.csv                   watch_output_sport.csv
df_watches.csv                    watches.ipynb
final_watches.ipynb               watches2.ipynb
watch_classification_final.ipynb  watches3.ipynb
watch_output.csv                  watches_category.csv
watch_output2.csv                 watches_final.pkl
watch_output_casual.csv           watches_final2.pkl
watch_output_dive.csv             watcheslinks.csv
watch_output_dress.csv

In [12]:
df = pd.read_pickle('watches_final2.pkl')

# Explore Data

## Dimensions

In [13]:
df.shape

(8673, 26)

In [14]:
df.head()

,case_material_fixed,sku,case_shape,bezel,case_diameter_fixed,clasp_fixed,brand,case_thickness_fixed,band_material_fixed,model,...,crown_fixed,water_resistance,functions_fixed,band_width,crystal_fixed,watch_label,watch_style,features_fixed,dial_color_fixed,gender
0,other,PK-5951P001,Rectangle,other,37.3,tang,Patek Philippe,0.00,Unknown,5951P-001,...,screw down,30,"Hour, Minute",0.0,Scratch Resistant Sapphire,Swiss Made,Luxury Watches,other,Black,Unisex
1,titanium,AP26587TIOOD031CA01,Round,other,44.0,fold over,Audemars Piguet,16.15,Unknown,26587TI.OO.D031CA.01,...,screw down,100,other,0.0,Scratch Resistant Sapphire,Swiss Made,Luxury Watches,other,other,Mens
2,other,PK-5959P011,Round,fixed,33.0,deployment,Patek Philippe,0.00,Crocodile,5959P-011,...,pull,30,"Hour, Minute",16.0,Scratch Resistant Sapphire,Swiss Made,Luxury Watches,other,Black,Unisex
3,other,PK-6102P-001,Round,fixed,44.0,tang,Patek Philippe,0.00,Alligator,6102P-001,...,other,30,"Hour, Minute, Second",0.0,Scratch Resistant Sapphire,Swiss Made,Luxury Watches,other,Blue,Mens
4,rose gold,PK-52041R001,Round,fixed,40.0,other,Patek Philippe,14.30,Rose Gold,5204/1R-001,...,other,30,"Hour, Minute, Second",0.0,Scratch Resistant Sapphire,Swiss Made,Luxury Watches,other,Black,Mens

In [17]:
df.isna().sum()

case_material_fixed     0
sku                     0
case_shape              0
bezel                   0
case_diameter_fixed     0
clasp_fixed             0
brand                   0
case_thickness_fixed    0
band_material_fixed     0
model                   0
dial_type               0
movement                0
engine                  0
hands_fixed             0
price_fixed             0
calendar                0
crown_fixed             0
water_resistance        0
functions_fixed         0
band_width              0
crystal_fixed           0
watch_label             0
watch_style             0
features_fixed          0
dial_color_fixed        0
gender                  0
dtype: int64

In [18]:
#data types
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8673 entries, 0 to 8681
Data columns (total 26 columns):
case_material_fixed     8673 non-null object
sku                     8673 non-null object
case_shape              8673 non-null object
bezel                   8673 non-null object
case_diameter_fixed     8673 non-null float64
clasp_fixed             8673 non-null object
brand                   8673 non-null object
case_thickness_fixed    8673 non-null float64
band_material_fixed     8673 non-null object
model                   8673 non-null object
dial_type               8673 non-null object
movement                8673 non-null object
engine                  8673 non-null object
hands_fixed             8673 non-null object
price_fixed             8673 non-null object
calendar                8673 non-null object
crown_fixed             8673 non-null object
water_resistance        8673 non-null int64
functions_fixed         8673 non-null object
band_width              8673 non-null float64
crystal_fixed           8673 non-null object
watch_label             8673 non-null object
watch_style             8673 non-null object
features_fixed          8673 non-null object
dial_color_fixed        8673 non-null object
gender                  8673 non-null object
dtypes: float64(3), int64(1), object(22)
memory usage: 1.8+ MB

'547,771.00'

In [20]:
df.head()

,case_material_fixed,sku,case_shape,bezel,case_diameter_fixed,clasp_fixed,brand,case_thickness_fixed,band_material_fixed,model,...,crown_fixed,water_resistance,functions_fixed,band_width,crystal_fixed,watch_label,watch_style,features_fixed,dial_color_fixed,gender
0,other,PK-5951P001,Rectangle,other,37.3,tang,Patek Philippe,0.00,Unknown,5951P-001,...,screw down,30,"Hour, Minute",0.0,Scratch Resistant Sapphire,Swiss Made,Luxury Watches,other,Black,Unisex
1,titanium,AP26587TIOOD031CA01,Round,other,44.0,fold over,Audemars Piguet,16.15,Unknown,26587TI.OO.D031CA.01,...,screw down,100,other,0.0,Scratch Resistant Sapphire,Swiss Made,Luxury Watches,other,other,Mens
2,other,PK-5959P011,Round,fixed,33.0,deployment,Patek Philippe,0.00,Crocodile,5959P-011,...,pull,30,"Hour, Minute",16.0,Scratch Resistant Sapphire,Swiss Made,Luxury Watches,other,Black,Unisex
3,other,PK-6102P-001,Round,fixed,44.0,tang,Patek Philippe,0.00,Alligator,6102P-001,...,other,30,"Hour, Minute, Second",0.0,Scratch Resistant Sapphire,Swiss Made,Luxury Watches,other,Blue,Mens
4,rose gold,PK-52041R001,Round,fixed,40.0,other,Patek Philippe,14.30,Rose Gold,5204/1R-001,...,other,30,"Hour, Minute, Second",0.0,Scratch Resistant Sapphire,Swiss Made,Luxury Watches,other,Black,Mens

## To Do Before Charting

### rearrange columns

In [51]:
new_columns_sorted = sorted(list(df.columns))

In [53]:
df = df[new_columns_sorted]

### turn prices from strings to floats

In [36]:
# get rid of commas
df['price_fixed'] = df['price_fixed'].apply(lambda x: x.replace(',', ''))

In [66]:
count = 0
for i in df['price_fixed']:
    if '.' not in i:
        print(f'Index: {count}, Price: {i}', '\n')
    count += 1

Index: 1514, Price: 0

Index: 2169, Price: 0

Index: 2508, Price: 0

Index: 2534, Price: 0

Index: 2559, Price: 0

Index: 2797, Price: 0

Index: 3073, Price: 0

Index: 3279, Price: 0

Index: 3505, Price: 0

Index: 3655, Price: 0

Index: 4298, Price: 0

Index: 4389, Price: 0

Index: 4517, Price: 0

Index: 4581, Price: 0

Index: 5478, Price: 0

Index: 5613, Price: 0

Index: 5652, Price: 0

Index: 5847, Price: 0

Index: 6498, Price: 0

Index: 6647, Price: 0

Index: 7012, Price: 0

Index: 7581, Price: 0

Index: 8352, Price: 0

In [76]:
# there shouldn't be watches with a price of 0
test_df = df[df['price_fixed'] == '0']

In [78]:
# we'll turn this into our test set
test_df.to_pickle('test_watches.pkl')

In [82]:
# get rid of test set
df = df[df['price_fixed'] != '0']

In [85]:
# reset index
df.reset_index(inplace = True)

In [87]:
# find prices which don't have a period
df['price_fixed'].str.split('.', expand=True)[1].isna().sum()

0

In [88]:
list(df['price_fixed'].str.split('.', expand=True)[1])

['00',
 '98',
 '00',
 '00',
 '00',
 '00',
 '00',
 '98',
 '98',
 '00',
 '00',
 '00',
 '98',
 '00',
 '00',
 '98',
 '98',
 '98',
 '98',
 '00',
 '98',
 '98',
 '00',
 '98',
 '00',
 '00',
 '98',
 '00',
 '00',
 '98',
 '00',
 '00',
 '00',
 '00',
 '00',
 '98',
 '00',
 '00',
 '00',
 '98',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '98',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '98',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '98',
 '00',
 '98',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '98',
 '00',
 '00',
 '00',
 '00',
 '98',
 '00',
 '00',
 '00',
 '00',
 '00',
 '98',
 '98',
 '00',
 '98',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '98',
 '00',
 '00',
 '98',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '98',
 '00',
 '00',
 '00',
 '00',
 '98',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '98',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '98',
 '00',
 '98',
 '00',
 '98',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '98',
 '98',
 '98',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '98',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '98',
 '00',
 '00',
 '00',
 '98',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '98',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '98',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '98',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '98',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '98',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '98',
 '00',
 '98',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '98',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '98',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '98',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '98',
 '98',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '98',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '98',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '98',
 '98',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '98',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '98',
 '00',
 '00',
 '00',
 '98',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '98',
 '00',
 '00',
 '00',
 '00',
 '98',
 '00',
 '00',
 '00',
 '00',
 '00',
 '98',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '98',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '98',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '98',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '98',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '98',
 '00',
 '98',
 '00',
 '00',
 '98',
 '98',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '98',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 ...]

In [92]:
for i in df['price_fixed']:
    if '.00' not in i:
        print(i)

316799.98
178199.98
177209.98
143401.98
129015.98
128353.98
126571.98
125482.98
108894.98
92064.98
86124.98
77566.98
72913.98
66819.98
64938.98
48014.98
44544.98
39594.98
38560.98
35293.98
34347.98
33615.98
33610.98
33119.98
29694.98
28704.98
26724.98
26086.98
24744.98
20938.98
20740.98
20685.98
18804.98
18804.98
18804.98
17814.98
17473.98
17319.98
16329.98
15834.98
14844.98
13854.98
12864.98
12567.98
12567.98
12127.98
11874.98
11720.98
10884.98
10884.98
10389.98
10290.98
9894.98
9894.98
9850.98
9696.98
9597.98
9454.98
9399.98
9300.98
8904.98
7716.98
6924.98
6726.98
6330.98
6330.98
6330.98
6330.98
6132.98
14206.98
4513.98
315.40
315.40
311.98
26724.98
5962.98
177.98
381.50
122.98
381.50
96.98
381.50
13656.98
5439.98
5439.98
4746.98
4746.98
207.98
117314.98
90238.98
17319.98
154.98
103.98
103.98
103.98
103.98
103.98
103.98

In [99]:
df['price_fixed'] = df['price_fixed'].str[:-3]

In [104]:
df['price_fixed'].isna().sum()

0

In [106]:
df['price_fixed'] = pd.to_numeric(df['price_fixed'])

In [107]:
df['price_fixed']

0       547771
1       316799
2       350000
3       311850
4       323200
         ...
8645       145
8646       200
8647       595
8648       140
8649       410
Name: price_fixed, Length: 8650, dtype: int64

### Turn everything lower cased

In [108]:
df

,index,band_material_fixed,band_width,bezel,brand,calendar,case_diameter_fixed,case_material_fixed,case_shape,case_thickness_fixed,...,functions_fixed,gender,hands_fixed,model,movement,price_fixed,sku,watch_label,watch_style,water_resistance
0,0,Unknown,0.0,other,Patek Philippe,Perpetual Calendar,37.3,other,Rectangle,0.00,...,"Hour, Minute",Unisex,Silver-tone,5951P-001,Automatic,547771,PK-5951P001,Swiss Made,Luxury Watches,30
1,1,Unknown,0.0,other,Audemars Piguet,No,44.0,titanium,Round,16.15,...,other,Mens,Silver-tone,26587TI.OO.D031CA.01,Automatic,316799,AP26587TIOOD031CA01,Swiss Made,Luxury Watches,100
2,2,Crocodile,16.0,fixed,Patek Philippe,No,33.0,other,Round,0.00,...,"Hour, Minute",Unisex,Silver-tone,5959P-011,Hand Wind,350000,PK-5959P011,Swiss Made,Luxury Watches,30
3,3,Alligator,0.0,fixed,Patek Philippe,Pointer Date,44.0,other,Round,0.00,...,"Hour, Minute, Second",Mens,Silver-tone,6102P-001,Automatic,311850,PK-6102P-001,Swiss Made,Luxury Watches,30
4,4,Rose Gold,0.0,fixed,Patek Philippe,Perpetual Calendar,40.0,rose gold,Round,14.30,...,"Hour, Minute, Second",Mens,Gold-tone,5204/1R-001,Hand Wind,323200,PK-52041R001,Swiss Made,Luxury Watches,30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8645,8677,Leather,22.0,fixed,Fossil,No,43.0,stainless steel,Round,11.00,...,"Hour, Minute, Second",Mens,Gold-tone,FS5061IE,Quartz,145,FSFS5061IE,Other,Dress Watches,50
8646,8678,Stainless Steel,0.0,fixed,Guy Laroche,No,32.0,stainless steel,Round,0.00,...,"Hour, Minute, Second",Womens,Gold-tone,L2008-05,Quartz,200,GUYLRL2008-05,Other,Dress Watches,50
8647,8679,Stainless Steel,18.0,fixed,Invicta,No,35.0,stainless steel,Round,11.00,...,"Hour, Minute, Second",Womens,Gold-tone,27443,Quartz,595,IN27443,Japan Movt,Dress Watches,100
8648,8680,Leather,14.0,fixed,Olivia Burton,No,38.0,stainless steel,Round,8.00,...,"Hour, Minute, Second",Womens,Gold-tone,OB16PP30,Quartz,140,OLBOB16PP30,Japan Movt,Dress Watches,10
8649,8681,Leather,0.0,fixed,Saint Honore,No,26.0,stainless steel,Round,0.00,...,"Hour, Minute",Womens,Gold-tone,721524 8AIR-BM,Quartz,410,SNH7215248AIRBM,Swiss Made,Dress Watches,30

In [113]:
df.drop(columns = ['index'], inplace=True)

In [121]:
cols = list(df.columns)

In [137]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8650 entries, 0 to 8649
Data columns (total 26 columns):
band_material_fixed     8650 non-null object
band_width              8650 non-null float64
bezel                   8650 non-null object
brand                   8650 non-null object
calendar                8650 non-null object
case_diameter_fixed     8650 non-null float64
case_material_fixed     8650 non-null object
case_shape              8650 non-null object
case_thickness_fixed    8650 non-null float64
clasp_fixed             8650 non-null object
crown_fixed             8650 non-null object
crystal_fixed           8650 non-null object
dial_color_fixed        8650 non-null object
dial_type               8650 non-null object
engine                  8650 non-null object
features_fixed          8650 non-null object
functions_fixed         8650 non-null object
gender                  8650 non-null object
hands_fixed             8650 non-null object
model                   8650 non-null object
movement                8650 non-null object
price_fixed             8650 non-null int64
sku                     8650 non-null object
watch_label             8650 non-null object
watch_style             8650 non-null object
water_resistance        8650 non-null int64
dtypes: float64(3), int64(2), object(21)
memory usage: 1.7+ MB

In [141]:
cols_remove = ['band_width', 'case_diameter_fixed', 'case_thickness_fixed', 'price_fixed', 'water_resistane']

In [159]:
cols_numeric = cols_remove

In [127]:
df1 = deepcopy(df)

In [164]:
#turn all to lower case
df = df.apply(lambda x: x.astype(str).str.lower())

In [166]:
cols_numeric

['band_width',
 'case_diameter_fixed',
 'case_thickness_fixed',
 'price_fixed',
 'water_resistane']

In [171]:
pd.to_numeric(df['band_width'])

0        0.0
1        0.0
2       16.0
3        0.0
4        0.0
        ...
8645    22.0
8646     0.0
8647    18.0
8648    14.0
8649     0.0
Name: band_width, Length: 8650, dtype: float64

In [173]:
cols_numeric.pop()

'water_resistane'

In [175]:
for i in cols_numeric:
    df[i] = pd.to_numeric(df[i])

In [179]:
#fix water resistance
df['water_resistance'] = pd.to_numeric(df['water_resistance'])

In [180]:
df

,band_material_fixed,band_width,bezel,brand,calendar,case_diameter_fixed,case_material_fixed,case_shape,case_thickness_fixed,clasp_fixed,...,functions_fixed,gender,hands_fixed,model,movement,price_fixed,sku,watch_label,watch_style,water_resistance
0,unknown,0.0,other,patek philippe,perpetual calendar,37.3,other,rectangle,0.00,tang,...,"hour, minute",unisex,silver-tone,5951p-001,automatic,547771,pk-5951p001,swiss made,luxury watches,30
1,unknown,0.0,other,audemars piguet,no,44.0,titanium,round,16.15,fold over,...,other,mens,silver-tone,26587ti.oo.d031ca.01,automatic,316799,ap26587tiood031ca01,swiss made,luxury watches,100
2,crocodile,16.0,fixed,patek philippe,no,33.0,other,round,0.00,deployment,...,"hour, minute",unisex,silver-tone,5959p-011,hand wind,350000,pk-5959p011,swiss made,luxury watches,30
3,alligator,0.0,fixed,patek philippe,pointer date,44.0,other,round,0.00,tang,...,"hour, minute, second",mens,silver-tone,6102p-001,automatic,311850,pk-6102p-001,swiss made,luxury watches,30
4,rose gold,0.0,fixed,patek philippe,perpetual calendar,40.0,rose gold,round,14.30,other,...,"hour, minute, second",mens,gold-tone,5204/1r-001,hand wind,323200,pk-52041r001,swiss made,luxury watches,30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8645,leather,22.0,fixed,fossil,no,43.0,stainless steel,round,11.00,tang,...,"hour, minute, second",mens,gold-tone,fs5061ie,quartz,145,fsfs5061ie,other,dress watches,50
8646,stainless steel,0.0,fixed,guy laroche,no,32.0,stainless steel,round,0.00,other,...,"hour, minute, second",womens,gold-tone,l2008-05,quartz,200,guylrl2008-05,other,dress watches,50
8647,stainless steel,18.0,fixed,invicta,no,35.0,stainless steel,round,11.00,fold over,...,"hour, minute, second",womens,gold-tone,27443,quartz,595,in27443,japan movt,dress watches,100
8648,leather,14.0,fixed,olivia burton,no,38.0,stainless steel,round,8.00,tang,...,"hour, minute, second",womens,gold-tone,ob16pp30,quartz,140,olbob16pp30,japan movt,dress watches,10
8649,leather,0.0,fixed,saint honore,no,26.0,stainless steel,round,0.00,buckle,...,"hour, minute",womens,gold-tone,721524 8air-bm,quartz,410,snh7215248airbm,swiss made,dress watches,30

## Find Correlations

In [181]:
df.corr()

,band_width,case_diameter_fixed,case_thickness_fixed,price_fixed,water_resistance
band_width,1.000000,0.349209,0.472442,-0.229653,0.099807
case_diameter_fixed,0.349209,1.000000,0.382242,-0.010248,0.214092
case_thickness_fixed,0.472442,0.382242,1.000000,-0.093609,0.156621
price_fixed,-0.229653,-0.010248,-0.093609,1.000000,-0.009255
water_resistance,0.099807,0.214092,0.156621,-0.009255,1.000000

## Transformations

### round to whole numbers

In [190]:
#band_width
df['band_width'] = df['band_width'].round()

In [194]:
#case_diameter_fixed
df['case_diameter_fixed'] = df['case_diameter_fixed'].round()

In [197]:
#case_thickness_fixed
df['case_thickness_fixed'] = df['case_thickness_fixed'].round()

In [201]:
df['water_resistance'].value_counts()

50      2505
100     2425
30      2298
200      643
300      369
150       83
0         67
10        61
500       53
1000      40
60        37
600       20
3         15
120        9
20         5
25         5
3000       5
3900       3
777        2
1200       2
90         1
1500       1
4000       1
Name: water_resistance, dtype: int64

In [217]:
df['water_resistance'].round(100).value_counts()

50      2505
100     2425
30      2298
200      643
300      369
150       83
0         67
10        61
500       53
1000      40
60        37
600       20
3         15
120        9
20         5
25         5
3000       5
3900       3
777        2
1200       2
90         1
1500       1
4000       1
Name: water_resistance, dtype: int64

In [231]:
def custom_round(x, base = 50):
    return int(base*round(float(x)/base))

In [233]:
#applying rounding to 50
df['water_resistance'].apply(custom_round).value_counts()

50      4840
100     2435
200      643
300      369
0        153
150       83
500       53
1000      40
600       20
3000       5
3900       3
1200       2
800        2
1500       1
4000       1
Name: water_resistance, dtype: int64

In [234]:
df['water_resistance'] = df['water_resistance'].apply(custom_round)

In [239]:
df['price_fixed'].value_counts()

595       216
995       200
795       197
695       194
495       173
         ...
110550      1
32660       1
8080        1
24400       1
16400       1
Name: price_fixed, Length: 1163, dtype: int64

In [238]:
df['price_fixed'].apply(custom_round).value_counts()

400      389
600      382
700      356
500      347
1000     318
        ...
24800      1
20750      1
16700      1
33100      1
16400      1
Name: price_fixed, Length: 593, dtype: int64

In [ ]:
# By rounding to nearest $50, we have the number of