# Import Data and Modules

In [1]:
import pandas as pd

In [2]:
ls

README.txt                        watch_output_fashion.csv
Watches4.ipynb                    watch_output_luxury2.csv
battle_wins.ipynb                 watch_output_military.csv
df3_dummied.csv                   watch_output_sport.csv
df_watches.csv                    watches.ipynb
final_watches.ipynb               watches2.ipynb
watch_classification_final.ipynb  watches3.ipynb
watch_output.csv                  watches_category.csv
watch_output2.csv                 watches_final.pkl
watch_output_casual.csv           watches_final2.pkl
watch_output_dive.csv             watcheslinks.csv
watch_output_dress.csv

In [12]:
df = pd.read_pickle('watches_final2.pkl')

# Explore Data

## Dimensions

In [13]:
df.shape

(8673, 26)

In [14]:
df.head()

,case_material_fixed,sku,case_shape,bezel,case_diameter_fixed,clasp_fixed,brand,case_thickness_fixed,band_material_fixed,model,...,crown_fixed,water_resistance,functions_fixed,band_width,crystal_fixed,watch_label,watch_style,features_fixed,dial_color_fixed,gender
0,other,PK-5951P001,Rectangle,other,37.3,tang,Patek Philippe,0.00,Unknown,5951P-001,...,screw down,30,"Hour, Minute",0.0,Scratch Resistant Sapphire,Swiss Made,Luxury Watches,other,Black,Unisex
1,titanium,AP26587TIOOD031CA01,Round,other,44.0,fold over,Audemars Piguet,16.15,Unknown,26587TI.OO.D031CA.01,...,screw down,100,other,0.0,Scratch Resistant Sapphire,Swiss Made,Luxury Watches,other,other,Mens
2,other,PK-5959P011,Round,fixed,33.0,deployment,Patek Philippe,0.00,Crocodile,5959P-011,...,pull,30,"Hour, Minute",16.0,Scratch Resistant Sapphire,Swiss Made,Luxury Watches,other,Black,Unisex
3,other,PK-6102P-001,Round,fixed,44.0,tang,Patek Philippe,0.00,Alligator,6102P-001,...,other,30,"Hour, Minute, Second",0.0,Scratch Resistant Sapphire,Swiss Made,Luxury Watches,other,Blue,Mens
4,rose gold,PK-52041R001,Round,fixed,40.0,other,Patek Philippe,14.30,Rose Gold,5204/1R-001,...,other,30,"Hour, Minute, Second",0.0,Scratch Resistant Sapphire,Swiss Made,Luxury Watches,other,Black,Mens

In [17]:
df.isna().sum()

case_material_fixed     0
sku                     0
case_shape              0
bezel                   0
case_diameter_fixed     0
clasp_fixed             0
brand                   0
case_thickness_fixed    0
band_material_fixed     0
model                   0
dial_type               0
movement                0
engine                  0
hands_fixed             0
price_fixed             0
calendar                0
crown_fixed             0
water_resistance        0
functions_fixed         0
band_width              0
crystal_fixed           0
watch_label             0
watch_style             0
features_fixed          0
dial_color_fixed        0
gender                  0
dtype: int64

In [18]:
#data types
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8673 entries, 0 to 8681
Data columns (total 26 columns):
case_material_fixed     8673 non-null object
sku                     8673 non-null object
case_shape              8673 non-null object
bezel                   8673 non-null object
case_diameter_fixed     8673 non-null float64
clasp_fixed             8673 non-null object
brand                   8673 non-null object
case_thickness_fixed    8673 non-null float64
band_material_fixed     8673 non-null object
model                   8673 non-null object
dial_type               8673 non-null object
movement                8673 non-null object
engine                  8673 non-null object
hands_fixed             8673 non-null object
price_fixed             8673 non-null object
calendar                8673 non-null object
crown_fixed             8673 non-null object
water_resistance        8673 non-null int64
functions_fixed         8673 non-null object
band_width              8673 non-null float64
crystal_fixed           8673 non-null object
watch_label             8673 non-null object
watch_style             8673 non-null object
features_fixed          8673 non-null object
dial_color_fixed        8673 non-null object
gender                  8673 non-null object
dtypes: float64(3), int64(1), object(22)
memory usage: 1.8+ MB

'547,771.00'

In [20]:
df.head()

,case_material_fixed,sku,case_shape,bezel,case_diameter_fixed,clasp_fixed,brand,case_thickness_fixed,band_material_fixed,model,...,crown_fixed,water_resistance,functions_fixed,band_width,crystal_fixed,watch_label,watch_style,features_fixed,dial_color_fixed,gender
0,other,PK-5951P001,Rectangle,other,37.3,tang,Patek Philippe,0.00,Unknown,5951P-001,...,screw down,30,"Hour, Minute",0.0,Scratch Resistant Sapphire,Swiss Made,Luxury Watches,other,Black,Unisex
1,titanium,AP26587TIOOD031CA01,Round,other,44.0,fold over,Audemars Piguet,16.15,Unknown,26587TI.OO.D031CA.01,...,screw down,100,other,0.0,Scratch Resistant Sapphire,Swiss Made,Luxury Watches,other,other,Mens
2,other,PK-5959P011,Round,fixed,33.0,deployment,Patek Philippe,0.00,Crocodile,5959P-011,...,pull,30,"Hour, Minute",16.0,Scratch Resistant Sapphire,Swiss Made,Luxury Watches,other,Black,Unisex
3,other,PK-6102P-001,Round,fixed,44.0,tang,Patek Philippe,0.00,Alligator,6102P-001,...,other,30,"Hour, Minute, Second",0.0,Scratch Resistant Sapphire,Swiss Made,Luxury Watches,other,Blue,Mens
4,rose gold,PK-52041R001,Round,fixed,40.0,other,Patek Philippe,14.30,Rose Gold,5204/1R-001,...,other,30,"Hour, Minute, Second",0.0,Scratch Resistant Sapphire,Swiss Made,Luxury Watches,other,Black,Mens

## To Do Before Charting

### rearrange columns

In [50]:
new_columns_sorter = sorted(list(df.columns))

['band_material_fixed',
 'band_width',
 'bezel',
 'brand',
 'calendar',
 'case_diameter_fixed',
 'case_material_fixed',
 'case_shape',
 'case_thickness_fixed',
 'clasp_fixed',
 'crown_fixed',
 'crystal_fixed',
 'dial_color_fixed',
 'dial_type',
 'engine',
 'features_fixed',
 'functions_fixed',
 'gender',
 'hands_fixed',
 'model',
 'movement',
 'price_fixed',
 'sku',
 'watch_label',
 'watch_style',
 'water_resistance']

### turn prices from strings to floats

In [33]:
df['price_fixed']

0       547,771.00
1       316,799.98
2       350,000.00
3       311,850.00
4       323,200.00
           ...
8677        145.00
8678        200.00
8679        595.00
8680        140.00
8681        410.00
Name: price_fixed, Length: 8673, dtype: object

In [36]:
# get rid of commas
df['price_fixed'] = df['price_fixed'].apply(lambda x: x.replace(',', ''))

In [45]:
df[df['price_fixed'].str.split('.', expand=True)[1].isna()]['price_fixed']

1514    0
2169    0
2508    0
2534    0
2559    0
2806    0
3082    0
3288    0
3514    0
3664    0
4307    0
4398    0
4526    0
4590    0
5487    0
5622    0
5661    0
5856    0
6507    0
6656    0
7021    0
7590    0
8361    0
Name: price_fixed, dtype: object

In [46]:
df.iloc[1514]

case_material_fixed                            stainless steel
sku                                                LNG81105796
case_shape                                               Round
bezel                                                    other
case_diameter_fixed                                       26.5
clasp_fixed                                          fold over
brand                                                 Longines
case_thickness_fixed                                         8
band_material_fixed                                    Unknown
model                                            L8.110.5.79.6
dial_type                                               Analog
movement                                                Quartz
engine                                   Longines Calibre L250
hands_fixed                                               Blue
price_fixed                                                  0
calendar                Date display at the 3 o'clock position
crown_fixed                                               pull
water_resistance                                            30
functions_fixed                     Date, Hour, Minute, Second
band_width                                                   0
crystal_fixed                       Scratch Resistant Sapphire
watch_label                                         Swiss Made
watch_style                                     Luxury Watches
features_fixed                           Gold, Stainless Steel
dial_color_fixed                                     Champagne
gender                                                  Womens
Name: 1514, dtype: object

In [37]:
pd.to_numeric('price_fixed')

ValueError: Unable to parse string "price_fixed" at position 0

### Turn everything lower cased