# Import Data and Modules

In [1]:
import pandas as pd

In [77]:
import pickle

In [2]:
ls

README.txt                        watch_output_fashion.csv
Watches4.ipynb                    watch_output_luxury2.csv
battle_wins.ipynb                 watch_output_military.csv
df3_dummied.csv                   watch_output_sport.csv
df_watches.csv                    watches.ipynb
final_watches.ipynb               watches2.ipynb
watch_classification_final.ipynb  watches3.ipynb
watch_output.csv                  watches_category.csv
watch_output2.csv                 watches_final.pkl
watch_output_casual.csv           watches_final2.pkl
watch_output_dive.csv             watcheslinks.csv
watch_output_dress.csv

In [12]:
df = pd.read_pickle('watches_final2.pkl')

# Explore Data

## Dimensions

In [13]:
df.shape

(8673, 26)

In [14]:
df.head()

,case_material_fixed,sku,case_shape,bezel,case_diameter_fixed,clasp_fixed,brand,case_thickness_fixed,band_material_fixed,model,...,crown_fixed,water_resistance,functions_fixed,band_width,crystal_fixed,watch_label,watch_style,features_fixed,dial_color_fixed,gender
0,other,PK-5951P001,Rectangle,other,37.3,tang,Patek Philippe,0.00,Unknown,5951P-001,...,screw down,30,"Hour, Minute",0.0,Scratch Resistant Sapphire,Swiss Made,Luxury Watches,other,Black,Unisex
1,titanium,AP26587TIOOD031CA01,Round,other,44.0,fold over,Audemars Piguet,16.15,Unknown,26587TI.OO.D031CA.01,...,screw down,100,other,0.0,Scratch Resistant Sapphire,Swiss Made,Luxury Watches,other,other,Mens
2,other,PK-5959P011,Round,fixed,33.0,deployment,Patek Philippe,0.00,Crocodile,5959P-011,...,pull,30,"Hour, Minute",16.0,Scratch Resistant Sapphire,Swiss Made,Luxury Watches,other,Black,Unisex
3,other,PK-6102P-001,Round,fixed,44.0,tang,Patek Philippe,0.00,Alligator,6102P-001,...,other,30,"Hour, Minute, Second",0.0,Scratch Resistant Sapphire,Swiss Made,Luxury Watches,other,Blue,Mens
4,rose gold,PK-52041R001,Round,fixed,40.0,other,Patek Philippe,14.30,Rose Gold,5204/1R-001,...,other,30,"Hour, Minute, Second",0.0,Scratch Resistant Sapphire,Swiss Made,Luxury Watches,other,Black,Mens

In [17]:
df.isna().sum()

case_material_fixed     0
sku                     0
case_shape              0
bezel                   0
case_diameter_fixed     0
clasp_fixed             0
brand                   0
case_thickness_fixed    0
band_material_fixed     0
model                   0
dial_type               0
movement                0
engine                  0
hands_fixed             0
price_fixed             0
calendar                0
crown_fixed             0
water_resistance        0
functions_fixed         0
band_width              0
crystal_fixed           0
watch_label             0
watch_style             0
features_fixed          0
dial_color_fixed        0
gender                  0
dtype: int64

In [18]:
#data types
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8673 entries, 0 to 8681
Data columns (total 26 columns):
case_material_fixed     8673 non-null object
sku                     8673 non-null object
case_shape              8673 non-null object
bezel                   8673 non-null object
case_diameter_fixed     8673 non-null float64
clasp_fixed             8673 non-null object
brand                   8673 non-null object
case_thickness_fixed    8673 non-null float64
band_material_fixed     8673 non-null object
model                   8673 non-null object
dial_type               8673 non-null object
movement                8673 non-null object
engine                  8673 non-null object
hands_fixed             8673 non-null object
price_fixed             8673 non-null object
calendar                8673 non-null object
crown_fixed             8673 non-null object
water_resistance        8673 non-null int64
functions_fixed         8673 non-null object
band_width              8673 non-null float64
crystal_fixed           8673 non-null object
watch_label             8673 non-null object
watch_style             8673 non-null object
features_fixed          8673 non-null object
dial_color_fixed        8673 non-null object
gender                  8673 non-null object
dtypes: float64(3), int64(1), object(22)
memory usage: 1.8+ MB

'547,771.00'

In [20]:
df.head()

,case_material_fixed,sku,case_shape,bezel,case_diameter_fixed,clasp_fixed,brand,case_thickness_fixed,band_material_fixed,model,...,crown_fixed,water_resistance,functions_fixed,band_width,crystal_fixed,watch_label,watch_style,features_fixed,dial_color_fixed,gender
0,other,PK-5951P001,Rectangle,other,37.3,tang,Patek Philippe,0.00,Unknown,5951P-001,...,screw down,30,"Hour, Minute",0.0,Scratch Resistant Sapphire,Swiss Made,Luxury Watches,other,Black,Unisex
1,titanium,AP26587TIOOD031CA01,Round,other,44.0,fold over,Audemars Piguet,16.15,Unknown,26587TI.OO.D031CA.01,...,screw down,100,other,0.0,Scratch Resistant Sapphire,Swiss Made,Luxury Watches,other,other,Mens
2,other,PK-5959P011,Round,fixed,33.0,deployment,Patek Philippe,0.00,Crocodile,5959P-011,...,pull,30,"Hour, Minute",16.0,Scratch Resistant Sapphire,Swiss Made,Luxury Watches,other,Black,Unisex
3,other,PK-6102P-001,Round,fixed,44.0,tang,Patek Philippe,0.00,Alligator,6102P-001,...,other,30,"Hour, Minute, Second",0.0,Scratch Resistant Sapphire,Swiss Made,Luxury Watches,other,Blue,Mens
4,rose gold,PK-52041R001,Round,fixed,40.0,other,Patek Philippe,14.30,Rose Gold,5204/1R-001,...,other,30,"Hour, Minute, Second",0.0,Scratch Resistant Sapphire,Swiss Made,Luxury Watches,other,Black,Mens

## To Do Before Charting

### rearrange columns

In [51]:
new_columns_sorted = sorted(list(df.columns))

In [53]:
df = df[new_columns_sorted]

### turn prices from strings to floats

In [36]:
# get rid of commas
df['price_fixed'] = df['price_fixed'].apply(lambda x: x.replace(',', ''))

In [66]:
count = 0
for i in df['price_fixed']:
    if '.' not in i:
        print(f'Index: {count}, Price: {i}', '\n')
    count += 1

Index: 1514, Price: 0

Index: 2169, Price: 0

Index: 2508, Price: 0

Index: 2534, Price: 0

Index: 2559, Price: 0

Index: 2797, Price: 0

Index: 3073, Price: 0

Index: 3279, Price: 0

Index: 3505, Price: 0

Index: 3655, Price: 0

Index: 4298, Price: 0

Index: 4389, Price: 0

Index: 4517, Price: 0

Index: 4581, Price: 0

Index: 5478, Price: 0

Index: 5613, Price: 0

Index: 5652, Price: 0

Index: 5847, Price: 0

Index: 6498, Price: 0

Index: 6647, Price: 0

Index: 7012, Price: 0

Index: 7581, Price: 0

Index: 8352, Price: 0

In [76]:
# there shouldn't be watches with a price of 0
test_df = df[df['price_fixed'] == '0']

In [78]:
# we'll turn this into our test set
test_df.to_pickle('test_watches.pkl')

In [82]:
# get rid of test set
df = df[df['price_fixed'] != '0']

In [85]:
# reset index
df.reset_index(inplace = True)

In [87]:
# find prices which don't have a period
df['price_fixed'].str.split('.', expand=True)[1].isna().sum()

0

In [88]:
list(df['price_fixed'].str.split('.', expand=True)[1])

['00',
 '98',
 '00',
 '00',
 '00',
 '00',
 '00',
 '98',
 '98',
 '00',
 '00',
 '00',
 '98',
 '00',
 '00',
 '98',
 '98',
 '98',
 '98',
 '00',
 '98',
 '98',
 '00',
 '98',
 '00',
 '00',
 '98',
 '00',
 '00',
 '98',
 '00',
 '00',
 '00',
 '00',
 '00',
 '98',
 '00',
 '00',
 '00',
 '98',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '98',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '98',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '98',
 '00',
 '98',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '98',
 '00',
 '00',
 '00',
 '00',
 '98',
 '00',
 '00',
 '00',
 '00',
 '00',
 '98',
 '98',
 '00',
 '98',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '98',
 '00',
 '00',
 '98',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '98',
 '00',
 '00',
 '00',
 '00',
 '98',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '98',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '98',
 '00',
 '98',
 '00',
 '98',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '98',
 '98',
 '98',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '98',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '98',
 '00',
 '00',
 '00',
 '98',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '98',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '98',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '98',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '98',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '98',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '98',
 '00',
 '98',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '98',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '98',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '98',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '98',
 '98',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '98',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '98',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '98',
 '98',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '98',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '98',
 '00',
 '00',
 '00',
 '98',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '98',
 '00',
 '00',
 '00',
 '00',
 '98',
 '00',
 '00',
 '00',
 '00',
 '00',
 '98',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '98',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '98',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '98',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '98',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '98',
 '00',
 '98',
 '00',
 '00',
 '98',
 '98',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '98',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 '00',
 ...]

In [92]:
for i in df['price_fixed']:
    if '.00' not in i:
        print(i)

316799.98
178199.98
177209.98
143401.98
129015.98
128353.98
126571.98
125482.98
108894.98
92064.98
86124.98
77566.98
72913.98
66819.98
64938.98
48014.98
44544.98
39594.98
38560.98
35293.98
34347.98
33615.98
33610.98
33119.98
29694.98
28704.98
26724.98
26086.98
24744.98
20938.98
20740.98
20685.98
18804.98
18804.98
18804.98
17814.98
17473.98
17319.98
16329.98
15834.98
14844.98
13854.98
12864.98
12567.98
12567.98
12127.98
11874.98
11720.98
10884.98
10884.98
10389.98
10290.98
9894.98
9894.98
9850.98
9696.98
9597.98
9454.98
9399.98
9300.98
8904.98
7716.98
6924.98
6726.98
6330.98
6330.98
6330.98
6330.98
6132.98
14206.98
4513.98
315.40
315.40
311.98
26724.98
5962.98
177.98
381.50
122.98
381.50
96.98
381.50
13656.98
5439.98
5439.98
4746.98
4746.98
207.98
117314.98
90238.98
17319.98
154.98
103.98
103.98
103.98
103.98
103.98
103.98

In [99]:
df['price_fixed'] = df['price_fixed'].str[:-3]

In [104]:
df['price_fixed'].isna().sum()

0

In [105]:
df[] = pd.to_numeric(df['price_fixed'])

0       547771
1       316799
2       350000
3       311850
4       323200
         ...
8645       145
8646       200
8647       595
8648       140
8649       410
Name: price_fixed, Length: 8650, dtype: int64

### Turn everything lower cased